<!DOCTYPE html>

<html>
    <head>
        <title>My todolist</title>
        <style>
            a {text-decoration: none; color: black;}
        </style>
    </head>

    <body>
        <h1>My todolist</h1>
        <ul>
        <% todolist.forEach(function(todo, index) { %>
            <li>
                <a href="/todo/delete/<%= index %>">✘</a>
                <input type="button" id="<%= index %>" value="✎" onclick="updateFunction()" />
                <input id="originalItem" type="text" value="<%- todo %>" disabled>
            </li>
        <% }); %>
        </ul>
        <form action="/todo/edit/" method="post">
           <input id="oldItem" type="text" value="" style="display:none" name="oldItemValue" autofocus>
            <p id="showFields" style="display:none">
                <h3 id="heading" style="display:none">Please update the item on the text field below</h3>
                <input id="updatedItem" style="display:none" type="text" value="" name="updateItemValue" autofocus>
                <input id="btnSubmit" type="submit" id="btnSubmit" style="display:none">
            </p>
        </form>
        <form action="/todo/add/" method="post">
            <p>
                <label for="newtodo">What shoud I do?</label>
                <input type="text" name="newtodo" id="newtodo" autofocus />
                <input type="submit" />
            </p>
        </form>
    </body>
</html>
<script type="text/javascript">

    function updateFunction() {
        //Show the fields to update when update button is clicked
        document.getElementById("btnSubmit").style.display = '';
        document.getElementById("updatedItem").style.display = '';
        document.getElementById("heading").style.display = '';

        //Create variable for the old item
        var oldItem = document.getElementById(event.srcElement.id).id;
        var keepOldItem = document.getElementById("oldItem");
        keepOldItem.value = oldItem;

        //Create variable for the updated value
        var originalItemToUpdate = document.getElementById("originalItem").value;
        var updatedItem = document.getElementById("updatedItem");
        updatedItem.value = originalItemToUpdate;
    };
</script>

